.container .mat-form-field + .mat-form-field {
  margin-left: 10px;
}

.container .mat-form-field {
  width: 200px;
}

.container form {
  margin: 20px 0;
}

.container button {
  margin: 10px !important;
}
